@use '../custom'as *;

// Gradient mixin

@mixin gradient {
    // background: linear-gradient(147deg, rgba($primary, 0.95), rgba($secondary, 0.95));
    background: linear-gradient(147deg, #706695 0%, #4d446f 70%, #dfb15b 80%, #f8956f 90%, #df825f 100%)
}

// Absolute center 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
}