/**
 * Filename:  _faq.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the Faq component
 * Date Mod:  December 8, 2021
 *
 */

@use "../custom"as *;

// Styling for the FAQ Section of the website
#faq {
    padding-top: 15vh;

    .display-3 {
        color: $white;
    }

    >div>div>p {
        color: white;
    }

    .heading-line {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    #faq-accordion {
        width: 80%;
        margin: 2rem auto;
        max-width: 800px;

        .accordion-item {
            border-radius: 8px !important;
            margin-bottom: 3rem;
            box-shadow: 0px 0px 3rem $white;
            background-color: $white;
            opacity: 1 !important;
        }

        .accordion-button {
            font-size: 1.2rem;
            font-weight: 600;
            border-bottom: 1px solid $primary;

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .accordion-body {
            background-color: rgba($white, 1);
            text-align: left;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}