@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
    background-color: $nav-background;

    img {
        height: 2.5em;
        width: auto;
    }

    .logo-style {
        font-family: "MuseoModerno", cursive;
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: -0.1em;
        color: $primary;
    }

    .name-style {
        font-family: "Alegreya Sans", cursive;
        font-size: 2.15em;
        font-weight: 800;
        color: $gray-500;
        letter-spacing: -0.05em;
        padding-left: .5rem;
    }



    li {
        padding: 0 0.7rem;

        a {
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}