/**
 *
 * Filename:  _testimonials.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the Testimonials component
 * Date Mod:  December 8, 2021
 *
 */

@use "../custom"as *;
@use "../components/mixins"as *;

.testimonials {
    position: relative;
    padding: 0;
    padding-bottom: 4rem;

    #testimonials-bookmark {
        padding-top: 12vh;
    }

    &__card {
        background-color: rgba($white, 0.8);
        padding: 2rem 1.25rem;
        border-radius: 0.625rem;
        height: auto;
        min-height: 25vh;
        width: 80vw;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        p {
            font-size: 1.25rem;

            i {
                font-size: 1.5rem;
                color: rgba($primary, 0.7);
            }
        }

        .ratings {
            i {
                color: rgba($primary, 0.7);
                font-size: 1rem;
                padding-top: 1rem;
                margin-bottom: 2rem;
            }
        }
    }

    &__picture {
        width: 6rem;
        height: 6rem;
        padding-top: 1.5rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            border: 0.325rem solid rgba($primary, 0.7);
        }
    }

    &__name {
        padding-top: 4rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 500;
        color: $white;

        h3 {
            padding-top: 0.8rem;
            text-transform: capitalize;
        }

        p {
            padding-bottom: 2rem;
            text-transform: capitalize;
        }
    }

    #carouselExampleCaptions>div button {
        width: 6rem !important;
        margin: 0.5rem !important;
        background-color: $white;
        border: none;

        i {
            color: $primary;
            font-size: 1.5rem;
        }

        &:hover {
            @include gradient;

            i {
                color: $white;
            }
        }
    }

    svg {
        position: relative;
    }
}