/**
 * Filename:  _footer.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the Footer component
 * Date Mod:  December 8, 2021
 *
 */

@use "../custom"as *;
@use "../components/mixins"as *;

// Styling for the top one-third row in the footer - contact info
.footer {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: $footer-background;

  hr {
    width: 60%;
    height: 3px;
    background-color: $white;
    display: inline-block;
    margin: 1rem auto 0rem auto;
    padding: 0;
  }

  h5 {
    display: inline-block;
    margin: 0 auto;
  }

  ul {
    margin-top: 0;
  }

  #company-name {
    margin-bottom: 1rem;
  }

  #company-tag-line {
    margin-top: 1rem;
  }
}

.contact-box {
  position: relative;

  @include media-breakpoint-down(xs) {
    display: flex;

    justify-content: center;
  }

  &__icon {
    width: 1rem;
    stroke: $white;
    padding-top: 0.5rem;

    @include media-breakpoint-up(md) {
      width: 2rem;
    }
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;

    &--title {
      color: $white;
      text-decoration: none;
      font-size: 0.9rem;

      @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
      }
    }

    &--subtitle {
      color: $gray-300;
      text-decoration: none;
      font-size: 0.7rem;

      @include media-breakpoint-up(lg) {
        font-size: 0.9rem;
      }
    }
  }
}



// Styling the middle one-third row of the footer
.footer-middle {
  padding-top: 1.5rem;

  // Styling social media
  .footer-sm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 0;

    #social-icons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 2rem;

      a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        i {
          justify-self: center;
          font-size: 1.5rem;
          margin: 1rem 1rem 1rem 0;

          &:hover {
            color: $white;
            text-decoration: underline;
            font-weight: bold;
          }
        }

        &:hover {
          color: $white;
          text-decoration: underline;
          font-weight: 700;
        }
      }
    }

    a {
      color: white;
      text-decoration: none;
      flex-basis: 20%;

      i {
        font-size: 2rem;
        margin: 1rem 1rem 1rem 0;

        @include media-breakpoint-up(sm) {}
      }
    }
  }


  #mascot-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h5 {
      @include logoFontFamily;
    }

    img {
      width: 25%;
      max-width: 75px;
    }

    hr {
      margin: 1rem auto;
    }

    p {
      @include logoFontFamily;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  #site-menu {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    h5 {
      align-self: flex-start;
      justify-self: center;
    }
  }

  #quick-links {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      color: $white;
      font-weight: 500;
      text-decoration: none;
      width: auto;
      height: 2rem;

      border-radius: 8px;
      margin: 0;
      margin-left: 0.35rem;
      margin-right: 0.35rem;

      &:hover {
        color: $white;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    h5 {
      margin-top: 1.5rem;
    }
  }
}

// Styling the bottom third of the footer
.footer-bottom {
  padding: 0 1rem 4rem 1rem;

  &__copyright {
    color: $white;
    font-weight: 400;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $white;
        text-decoration: underline;
        font-weight: 700;
      }
    }

    .logo-style {
      font-family: "MuseoModerno", cursive;
      font-size: 1.75rem;
      font-weight: 800;
      letter-spacing: -0.1em;
      color: $white;
    }

    .name-style {
      font-family: "Alegreya Sans", cursive;
      font-size: 2em;
      font-weight: 800;
      color: $secondary;
      letter-spacing: -0.05em;
      padding-left: 0.1rem;
    }
  }

  .attribution {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 0.5rem;
    font-size: 94%;

    a {
      color: $white !important;
      font-weight: 800;

      &:hover {
        color: $white !important;
        font-weight: 700 !important;
      }
    }
  }
}

// style back to top button
.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  border: none;
  background-color: $secondary;

  @media (max-width:414px) {
    width: 2rem;
    height: 2rem;
  }

  &:visited {
    background-color: $secondary;
  }

  &:active {
    background-color: $secondary;
  }

  i {
    color: $white;
    font-size: 2rem;
    @include absoluteCenter;

    @media (max-width: 414px) {
      font-size: 1.25rem;
    }
  }
}