/**
 *
 * Filename:  _services.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the Services component
 * Date Mod:  December 8, 2021
 *
 */


@use "../custom"as *;
@use "../components/mixins"as *;
@use "../components/mixins";

.services {
    background: linear-gradient(rgba($white, 0) 0%,
            rgba($white, 0.2) 20%,
            rgba($white, 0.4) 40%,
            rgba($white, 0.6) 60%,
            rgba($white, 0.8) 80%,
            rgba($white, 1) 100%);

    position: relative;
    padding: 1rem 0;
    padding-top: 15vh;
    padding-bottom: 3rem;

    .display-3 {
        color: $white;
    }

    #services-intro-overview {
        .service-items {
            color: $white;

            .service-item {
                padding: 0.5em 0 0.5em 1em;
                text-align: left;

                div {
                    text-align: left;
                }
            }
        }

        .services-overview {
            border-radius: 8px;
            color: $white;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        @include media-breakpoint-down(md) {
            background-color: rgba($primary, .5);
            border-radius: 8px;

            &>div {
                border: none;
            }
        }

    }

    .service-item-row {
        margin-top: 3rem;
        margin-bottom: 3rem;
        background-color: rgba($white, 0.5);

        padding: 3rem 1.5rem 3rem 1.5rem;

        background-color: rgba($white, 0.8);
        border: 1px solid $primary;
        border-radius: 8px;
        box-shadow: 0px 0px 3.5rem $primary;
    }



    .services-column {
        margin: 0rem auto;

        &.right-content {
            display: none;

            @include media-breakpoint-up(md) {
                display: flex;
            }
        }

        &.left-content {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }

    &__content {
        padding: 1rem;
        margin-top: 0rem;

        height: auto;

        .display-3--title {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
            text-align: center;

            @include media-breakpoint-down(md) {
                font-size: 150%;
            }
        }

        p {
            margin-top: 1rem;
            text-align: left;
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        .learn-btn {
            display: flex;
            justify-content: center;

            a {
                margin: 2rem auto;
                text-decoration: none;
                border: none;
                color: $primary;

                span {
                    background-color: rgba($white, 0.1);

                    i {
                        font-size: 2rem !important;
                        color: $primary;

                        @include media-breakpoint-up(md) {
                            font-size: 3rem;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 2rem #f06418;
                    background: linear-gradient(147deg,
                            #0f1a28 0%,
                            #2b5075 55%,
                            #4878b4 70%,
                            #f06418 100%);
                    color: #fff;

                    i {
                        color: $white;
                    }
                }
            }
        }
    }

    &__pic {
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        img {
            display: block;
            width: 95%;
            border-radius: 8px;
            box-shadow: 8px 8px 8px $primary;
        }

        @media (max-width: 992px) {
            margin-top: 0rem;
        }
    }
}