/**
 *
 * Filename:  main.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides a central location to gather sitewide styles
 * Date Mod:  December 8, 2021
 *
 */

// Import custom Bootstrap styling
@use "custom";

// Import components
@use "components/animations";
@use "components/buttons";
@use "components/mixins";
@use "components/typography";

// Import sections
@use "sections/navbar";
@use "sections/intro-section";
@use "sections/services";
@use "sections/testimonials";
@use "sections/faq";
@use "sections/portfolio";
@use "sections/get-started";
@use "sections/footer";